*{
  padding: 0;margin: 0;
}
.container {
  width: 800px;
  height: 640px;
  border: 1px solid #ddd;
  margin: 20px auto;
}
.box {
  cursor: pointer;
}
.soldier {
  width: 12px;
  height: 12px;
  margin: 1px;
  border: 1px solid #ddd;
  float: left;
}
.sniper {
  width: 12px;
  height: 12px;
  margin: 1px;
  border: 1px solid #ddd;
  float: left;
  background: tomato;
}
.info {
  position: absolute;
  width: 180px;
  height: 80px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: none;
  background-color: #eee;
  opacity: .9
}
